* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to right, #230003, #203012);
    height: 100vh;
    width: 100%;
    max-width: 1180px;
}

.calculator-body {
    /* 
    background-image: linear-gradient(135deg, #0eeff0 30%, #088f90 90%); */
    display: grid;
    justify-content: center;
    align-content: center;
    height: 100%;
    justify-content: center;
    grid-template-areas: "header  header header" "button button button";
}

.result {
    color: #fff;
    background: rgb(10, 20, 30, 0.5);
    word-break: break-all;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    padding: .6rem .9rem;
    border-radius: 12px;
    text-align: center;
    grid-area: header;
    box-shadow: 1px 1px 2px 1px rgb(20, 20, 20, .6), 2px 2px 3px 2px rgb(20, 20, 20, .6), inset 3px 3px 2px rgb(20, 20, 20, .6), inset 4px 4px 2px rgb(20, 20, 20, .6), inset 5px 5px 3px rgb(20, 20, 20, .6), 6px 6px 3px rgb(20, 20, 20, .6), 7px 7px 4px rgb(20, 20, 20, .6), 8px 8px 4px rgb(20, 20, 20, .6);
}

.current-face {
    font-size: 2rem;
    color: #fff;
}

.prev-face {
    font-size: 1.5rem;
    color: rgb(255, 255, 255, 0.5);
}

.upper-result {
    display: flex;
    justify-content: space-between;
}

.result-faces {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    padding: 1rem;
}

.result-faces:nth-child(2) {
    margin: 0px 10px;
}

.buttonBtn {
    position: relative;
    cursor: pointer;
    grid-area: button;
}

.numberBtn {
    display: grid;
    justify-content: center;
    align-content: center;
    height: 100%;
    grid-template-columns: repeat(3, 90px);
    grid-template-rows: minmax(auto, 60px) repeat(5, 60px);
    margin: 10px auto;
    /* box-shadow: 1px 1px 0px #3e3e3e, 2px 2px 0px #3e3e3e, 3px 3px 0px #3e3e3e, 4px 4px 0px #3e3e3e, 5px 5px 0px #3e3e3e, 6px 6px 0px #3e3e3e, 7px 7px 3px rgb(0, 0, 0, 0.1); */
}

button {
    font-size: 2rem;
    outline: none;
    background: transparent;
    color: #fff;
    border-radius: 30px;
    font-weight: bold;
    box-shadow: 1px 1px 0px rgb(20, 20, 20, .6), 2px 2px 1px rgb(20, 20, 20, .6), 3px 3px 2px rgb(20, 20, 20, .6), 4px 4px 2px rgb(20, 20, 20, .6), 5px 5px 3px rgb(20, 20, 20, .6), 6px 6px 3px rgb(20, 20, 20, .6), 7px 7px 4px rgb(20, 20, 20, .6), 8px 8px 4px rgb(20, 20, 20, .6);
}

button:hover {
    background: hsl(16, 100%, 45%);
    border: 1px solid rgb(22, 125, 255, .3);
    box-shadow: 0 0 3px rgb(3, 3, 3, .3);
    transform: scale(1.1);
}

button:active {
    background: hsl(16, 100%, 40%);
    top: 3px;
    left: -3px;
    box-shadow: -3px 3px 0 hsl(16, 100%, 30%);
}


/* 
.numberBtn>button {
    animation-name: fade;
    animation-duration: .9s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-delay: .9s;
}

@keyframes fade {
    0% {
        transform: translate(30%);
    }
    50% {
        transform: scale(1.1);
        transform: translate(70%);
    }
    90% {
        transform: scale(1.1);
        transform: translate(-40%, 59%);
    }
} */

.operation-btn {
    display: grid;
    grid-template-columns: 40px;
    grid-template-rows: repeat(5, 58.2px);
    position: absolute;
    top: 10px;
    right: -42px;
}

.two-life {
    grid-column: span 2;
}